server:
  port: 8087

spring:
  profiles:
    active: dev
  application:
    name: dispatch
  data:
    redis:
      host: 119.29.20.235
      port: 6379
      lettuce:
        pool:
          max-active: 10
          max-idle: 10
          min-idle: 1
          time-between-eviction-runs: 10s
  datasource:
    # 数据库配置，留空或使用占位符，以便其他开发者知道需要配置哪些字段
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://xxx.xxx.xxx.xxx/dispatch
    username: root
    password: 123456

mybatis:
  configuration:
    map-underscore-to-camel-case: true

# Swagger
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.transportation.dispatch

# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn

# 天气服务配置
weather:

  # 天气数据缓存时间（分钟）
  cache-duration: 30
  # 是否启用天气模拟
  simulate: true

