server:
  port: 8087

spring:
  profiles:
    active: dev
  application:
    name: dispatch
  datasource:
    # 数据库配置，留空或使用占位符，以便其他开发者知道需要配置哪些字段
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://119.29.20.235/dispatch
    username: root
    password: xymgym041232@GYM

mybatis:
  configuration:
    map-underscore-to-camel-case: true

# Swagger
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.transportation.dispatch

# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn


api:
  key:
    3dbb916f37c6fae92c4a8f7fcd35c5aa
